<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard"></i>
                <spa>Dashboard</spa>
            </a>
        </li>
        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i><span>Register</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="contract">
                        <i class="fa fa-file-text-o"></i>Contracts</a>
                </li>
                <li>
                    <a ui-sref="enterprise">
                        <i class="fa fa-building"></i>Enterprises</a>
                </li>
                <li>
                    <a ui-sref="server">
                        <i class="fa fa-server"></i>Server</a>
                </li>
                <li>
                    <a ui-sref="client">
                        <i class="fa fa-group"></i>Clients</a>
                </li>
                <li>
                    <a ui-sref="dskcloud">
                        <i class="fa fa-desktop"></i>Desktop Cloud</a>
                </li>
            </ul>
        </li>
    </ul>
</section>