<div class="box-body">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Date Birth</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ctr_usr in ctrCtrl.contract.ctr_usr">
            <td>
                <input class="form-control input-sm" ng-model="ctr_usr.ctr_usr_name" placeholder="Robert Kiyosaki"
                       ng-readonly="ctrCtrl.tabDelete">
            </td>
            <td>
                <input class="form-control input-sm" type="email" ng-model="ctr_usr.ctr_usr_username"
                       placeholder="example@domain.com" ng-readonly="ctrCtrl.tabDelete">
            </td>
            <td>
                <input class="form-control input-sm" type="password" ng-model="ctr_usr.ctr_usr_password"
                       placeholder="Password" ng-readonly="ctrCtrl.tabDelete">
            </td>
            <td>
                <input class="form-control input-sm" ng-model="ctr_usr.ctr_usr_date_birth"
                       placeholder="YYYY-MM-DD" ng-readonly="ctrCtrl.tabDelete">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="ctr_usr.ctr_usr_status"
                       placeholder="E:Enable D: Disabled" ng-readonly="ctrCtrl.tabDelete">
            </td>
            <td class="table-actions">
                <button class="btn btn-success btn-sm" ng-class="{disabled: ctrCtrl.tabDelete}"
                        ng-click="ctrCtrl.addUser($index)"><i
                        class="fa fa-plus"></i>
                </button>
                <button class="btn btn-danger btn-sm" ng-class="{disabled: cliCtrl.tabDelete}"
                        ng-click="cliCtrl.delUser($index)"><i
                        class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>