<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard"></i><spa>Dashboard</spa>
            </a>
        </li>
        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i><span>Register</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu">
                <li>
                    <a ui-sref="enterprise"><i class="fa fa-home"></i>Enterprises</a>
                </li>
            </ul>

            <ul class="treeview-menu">
                <li>
                    <a><i class="fa fa-user"></i>Clients</a>
                </li>
            </ul>

            <ul class="treeview-menu">
                <li>
                    <a><i class="fa fa-com"></i>Servers</a>
                </li>
            </ul>
        </li>
    </ul>
</section>