<div role="form">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Contract - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="dsk_contract_id"
                                     label="Contract ID"
                                     placeholder="591e6a81d2f1821130072325"
                                     model="dskcCtrl.dskcloud.dsk_contract_id"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_cli_usr_username"
                                     label="User ID"
                                     type="email"
                                     placeholder="example@domain.com"
                                     model="dskcCtrl.dskcloud.dsk_cli_usr_username"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_status"
                                     label="Status"
                                     placeholder="E:Enable D:Disabled"
                                     model="dskcCtrl.dskcloud.dsk_status"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Data - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_username"
                                     label="Username"
                                     placeholder="user"
                                     model="dskcCtrl.dskcloud.dsk_username"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_password"
                                     label="Password"
                                     type="password"
                                     placeholder="customer"
                                     model="dskcCtrl.dskcloud.dsk_password"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_address"
                                     label="Address"
                                     placeholder="Ex: 192.168.0.1 or domain.com"
                                     model="dskcCtrl.dskcloud.dsk_address"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_port"
                                     label="Port"
                                     placeholder="W:3389 M:4000 L:4000"
                                     model="dskcCtrl.dskcloud.dsk_port"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="dsk_system"
                                     label="System"
                                     placeholder="W:Windows, M:Mac, L:Linux"
                                     model="dskcCtrl.dskcloud.dsk_system"
                                     readonly="dskcCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="dskcCtrl.post()" ng-if="dskcCtrl.tabCreate">Insert</button>
        <button class="btn btn-info" ng-if="dskcCtrl.tabUpdate" ng-click="dskcCtrl.update()">Edit</button>
        <button class="btn btn-danger" ng-if="dskcCtrl.tabDelete" ng-click="dskcCtrl.delete()">Delete</button>
        <button class="btn btn-default" ng-click="dskcCtrl.refresh()">Cancel</button>
    </div>
</div>