<div role="form">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Contract - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="srv_contract_id"
                                     label="Contract ID"
                                     placeholder="Contract ID"
                                     model="srvCtrl.server.srv_contract_id"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_status"
                                     label="E:Enable D:Disabled"
                                     placeholder="Status: E or D"
                                     model="srvCtrl.server.srv_status"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Data - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_name"
                                     label="Name"
                                     placeholder="Name"
                                     model="srvCtrl.server.srv_name"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_address"
                                     label="Address"
                                     placeholder="Ex: 192.168.0.1 or domain.com"
                                     model="srvCtrl.server.srv_address"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_username"
                                     label="Username"
                                     placeholder="Username"
                                     model="srvCtrl.server.srv_username"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_password"
                                     label="Password"
                                     type="password"
                                     placeholder="Password"
                                     model="srvCtrl.server.srv_password"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_port"
                                     label="Port"
                                     placeholder="Port"
                                     model="srvCtrl.server.srv_port"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="srv_system"
                                     label="System"
                                     placeholder="W:Windows, M:Mac, L:Linux"
                                     model="srvCtrl.server.srv_system"
                                     readonly="srvCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="srvCtrl.post()" ng-if="srvCtrl.tabCreate">Insert</button>
        <button class="btn btn-info" ng-if="srvCtrl.tabUpdate" ng-click="srvCtrl.update()">Edit</button>
        <button class="btn btn-danger" ng-if="srvCtrl.tabDelete" ng-click="srvCtrl.delete()">Delete</button>
        <button class="btn btn-default" ng-click="srvCtrl.refresh()">Cancel</button>
    </div>
</div>