<div role="form">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Contract - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="ent_contract_id"
                                     label="Contract ID"
                                     placeholder="591e6a81d2f1821130072325"
                                     model="entCtrl.enterprise.ent_contract_id"
                                     readonly="entCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ent_status"
                                     label="Status"
                                     placeholder="E:Enable D:Disabled"
                                     model="entCtrl.enterprise.ent_status"
                                     readonly="entCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Data - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="ent_full_name"
                                     label="Full Name"
                                     placeholder="Enterprise S/A"
                                     model="entCtrl.enterprise.ent_full_name"
                                     readonly="entCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="ent_email"
                                     label="E-mail"
                                     type="email"
                                     placeholder="example@domain.com"
                                     model="entCtrl.enterprise.ent_email"
                                     readonly="entCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ent_phone1"
                                     label="Phone 1"
                                     placeholder="+41791234789"
                                     model="entCtrl.enterprise.ent_phone1"
                                     readonly="entCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ent_data_open"
                                     label="Date Open"
                                     placeholder="YYYY-MM-DD"
                                     model="entCtrl.enterprise.ent_data_open"
                                     readonly="entCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="entCtrl.post()" ng-if="entCtrl.tabCreate">Insert</button>
        <button class="btn btn-info" ng-if="entCtrl.tabUpdate" ng-click="entCtrl.update()">Edit</button>
        <button class="btn btn-danger" ng-if="entCtrl.tabDelete" ng-click="entCtrl.delete()">Delete</button>
        <button class="btn btn-default" ng-click="entCtrl.refresh()">Cancel</button>
    </div>
</div>