<div role="form">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Contract - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="cli_contract_id"
                                     label="Contract ID"
                                     placeholder="591e6a81d2f1821130072325"
                                     model="cliCtrl.client.cli_contract_id"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="cli_register"
                                     label="Register"
                                     placeholder="E:Enterprise P:Private"
                                     model="cliCtrl.client.cli_register"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="cli_status"
                                     label="Status"
                                     placeholder="E:Enable D:Disabled"
                                     model="cliCtrl.client.cli_status"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Data - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="cli_first_name"
                                     label="First Name"
                                     placeholder="Robert"
                                     model="cliCtrl.client.cli_first_name"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="cli_last_name"
                                     label="Last Name"
                                     placeholder="Kiyosaki"
                                     model="cliCtrl.client.cli_last_name"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="cli_full_name"
                                     label="Full Name"
                                     placeholder="Robert Kiyosaki"
                                     model="cliCtrl.client.cli_full_name"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="cli_email"
                                     label="E-mail"
                                     type="email"
                                     placeholder="example@domain.com"
                                     model="cliCtrl.client.cli_email"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="cli_phone1"
                                     label="Phone 1"
                                     placeholder="+41791234789"
                                     model="cliCtrl.client.cli_phone1"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="cli_data_birth"
                                     label="Date Birth"
                                     placeholder="YYYY-MM-DD"
                                     model="cliCtrl.client.cli_data_birth"
                                     readonly="cliCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Users</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div ng-include="'modules/client/client_usr/crud_c.html'"></div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="cliCtrl.post()" ng-if="cliCtrl.tabCreate">Insert</button>
        <button class="btn btn-info" ng-if="cliCtrl.tabUpdate" ng-click="cliCtrl.update()">Edit</button>
        <button class="btn btn-danger" ng-if="cliCtrl.tabDelete" ng-click="cliCtrl.delete()">Delete</button>
        <button class="btn btn-default" ng-click="cliCtrl.refresh()">Cancel</button>
    </div>
</div>