<div role="form">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Contract - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ctr_status"
                                     label="Status"
                                     placeholder="E:Enable D:Disabled"
                                     model="ctrCtrl.contract.ctr_status"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Data - Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ctr_first_name"
                                     label="First Name"
                                     placeholder="Robert"
                                     model="ctrCtrl.contract.ctr_first_name"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ctr_last_name"
                                     label="Last Name"
                                     placeholder="Kiyosaki"
                                     model="ctrCtrl.contract.ctr_last_name"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="ctr_full_name"
                                     label="Full Name"
                                     placeholder="Robert Kiyosaki"
                                     model="ctrCtrl.contract.ctr_full_name"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <field-input id="ctr_email"
                                     label="E-mail"
                                     type="email"
                                     placeholder="example@domain.com"
                                     model="ctrCtrl.contract.ctr_email"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ctr_phone1"
                                     label="Phone 1"
                                     placeholder="+41791234789"
                                     model="ctrCtrl.contract.ctr_phone1"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <field-input id="ctr_data_birth"
                                     label="Date Birth"
                                     placeholder="YYYY-MM-DD"
                                     model="ctrCtrl.contract.ctr_data_birth"
                                     readonly="ctrCtrl.tabDelete"></field-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Users</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div ng-include="'modules/contract/contract_usr/crud_c.html'"></div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="ctrCtrl.post()" ng-if="ctrCtrl.tabCreate">Insert</button>
        <button class="btn btn-info" ng-if="ctrCtrl.tabUpdate" ng-click="ctrCtrl.update()">Edit</button>
        <button class="btn btn-danger" ng-if="ctrCtrl.tabDelete" ng-click="ctrCtrl.delete()">Delete</button>
        <button class="btn btn-default" ng-click="ctrCtrl.refresh()">Cancel</button>
    </div>
</div>