<div class="box-body">
    <table class="table">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>E-Mail</th>
            <th>Date Registration</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in cliCtrl.clients">
            <td>{{client.cli_full_name}}</td>
            <td>{{client.cli_email}}</td>
            <td>{{client.cli_data_registration}}</td>
            <td class="table-actions">
                <button class="btn btn-warning" ng-click="cliCtrl.showTabUpdate(client)"><i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" ng-click="cliCtrl.showTabDelete(client)"><i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>