<content-header name="Clients" small="Management Clients"></content-header>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="clientCtrl as cliCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="cliCtrl.tabRead" ng-class="{active: cliCtrl.tabRead}">
                <a href data-target="#tabRead" data-toggle="tab">
                    <i class="fa fa-bars"></i> List
                </a>
            </li>
            <li ng-if="cliCtrl.tabCreate">
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus"></i> Insert
                </a>
            </li>
            <li ng-if="cliCtrl.tabUpdate" ng-class="{active: cliCtrl.tabUpdate}">
                <a href data-target="#tabUpdate" data-toggle="tab">
                    <i class="fa fa-pencil"></i> Update
                </a>
            </li>
            <li ng-if="cliCtrl.tabDelete" ng-class="{active: cliCtrl.tabDelete}">
                <a href data-target="#tabDelete" data-toggle="tab">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tabCreate" ng-include="'modules/client/crud_c.html'"
                 ng-if="cliCtrl.tabCreate"></div>
            <div class="tab-pane" id="tabRead" ng-include="'modules/client/crud_r.html'"
                 ng-class="{active: cliCtrl.tabRead}" ng-if="cliCtrl.tabRead"></div>
            <div class="tab-pane" id="tabUpdate" ng-include="'modules/client/crud_c.html'"
                 ng-class="{active: cliCtrl.tabUpdate}" ng-if="cliCtrl.tabUpdate" ></div>
            <div class="tab-pane" id="tabDelete" ng-include="'modules/client/crud_c.html'"
                 ng-class="{active: cliCtrl.tabDelete}" ng-if="cliCtrl.tabDelete"></div>
        </div>
    </div>
</section>